html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counterFrame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.counterFrame div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 25vw;
}